@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* GLOBALS */
* {
  font-family: "Poppins";
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#siteWrapper {
  overflow-x: clip;
  display: block;
}
:root {
  --text-color: white /*#e8f6f9*/;
  --red-color: #724151;
  background-color: #000000;
}
html {
  font-size: 55.5%;
  scroll-behavior: smooth;
}
body {
  position: relative;
}

.home .imgWrapper {
  width: 45%;
  max-width: 1200px;
  transform: scale(1);
  animation: loadAnimation 1s ease;
}
.home .img {
  object-position: 0px -14px;
  object-fit: cover;
  height: 101vh;
  width: -webkit-fill-available;
}
.home {
  position: relative;
  overflow: hidden;

  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 35vh;
}

/**/

.pc-nav {
  display: contents;
}
.phone-nav {
  display: none;
}

@media (max-width: 1024px) {
  .pc-nav {
    display: none;
  }
  .phone-nav {
    display: contents;
  }

  /* burger */
  .phone-nav .burger {
    all: unset;
  }
  .menu-icon {
    place-self: center;
    padding-top: 6px;
    height: 30px;
    width: 30px;
    z-index: 2;
    cursor: pointer;
  }
  .menu-icon__line {
    height: 1px;
    width: 30px;
    display: block;
    background-color: #111111;
    margin-bottom: 5px;
    transition: transform 0.2s ease, background-color 0.5s ease;
  }
  .menu-icon__line-left {
    width: 30px;
  }
  .menu-icon__line-right {
    width: 30px;
    float: right;
  }

  body.menu-active .menu-icon__line {
    background-color: #000000;
    margin: 0;
    transform: rotate(-45deg);
  }
  body.menu-active .menu-icon__line-left {
    transform: rotate(45deg);
  }
  body.menu-active .menu-icon__line-right {
    display: none;
    transform: rotate(45deg);
  }
  .containerS2 {
    flex-direction: column;
    align-items: center;
    padding-inline: 0px;
    text-align: left;
  }
  .center-image img {
    width: 55vw !important;
  }

  .phoneWrapper {
    background: white;
    color: black !important;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all ease 0.3s;

    transform: translateX(-100%);
    display: flex;
    justify-content: center;
  }

  .phoneWrapper .navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .phoneWrapper .nava {
    color: #000;
    margin: 0;
    font-size: 32px;
    padding-block: 12px;
  }
  body.menu-active .phoneWrapper {
    transform: translateX(0%);
  }
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: var(--text-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
  padding: 2.2rem 5rem;
  transition: all ease-in-out 300ms;
  font-size: 2.1rem;
  animation: loadAnimation 1s ease;
  border-color: white;
}
#header.sticky {
  padding: 1rem 4rem;
  background: var(--text-color);

  border-bottom: solid transparent 1.9px var(--red-color);
  box-shadow: 0px 5px 5px -5px #00000026;
}
.sticky .nava {
  color: var(--red-color);
  transition: 0.1s;
  margin-left: 7px;
}

.visit {
  color: inherit;
  text-decoration: none;
  display: flex;
  padding-block: 1.25px;
  margin-inline: 2rem;
  font-size: 1.4rem;
  transition: 0.3s;
  font-weight: 600;
}
.visit img {
  width: 25px;
}
.visit {
  color: var(--red-color);
  background-color: white;
  border: 1.5px solid var(--red-color);
  cursor: pointer;
  text-align: center;
  border-radius: 25px;
  padding: 10.5px 15px;
  width: auto;
  max-width: 450px;
  transition: 0.1s;
}

.visit:hover,
.active .visit {
  background-color: var(--red-color);
  color: white;
}

.navWrapper {
  display: flex;
  align-items: center;
}
.nava {
  text-decoration: none;
  color: var(--red-color);
  margin-left: 0.5rem;
  margin-right: 6.5rem;
  font-size: 1.4rem;
  transition: 0.3s;
  font-weight: 600;
  position: relative;
}
.nava::after {
  content: "";
  height: 3px;
  width: 0%;
  background: var(--red-color);
  position: absolute;
  left: 0;
  bottom: -5px;
  transition: 0.5s;
}
.nava:hover::after {
  width: 100%;
}
#copyr {
  color: black;
}
.nava:active::after {
  content: "";
  height: 3px;
  width: 100%;
  background: var(--red-color);
  position: absolute;
  left: 0;
}
.ctaWrapper {
  width: 38%;
  display: flex;
  justify-content: flex-end;
}
header nav a:hover,
header nav:active {
  color: var(--red-color);

  bottom: -1px;
}
.logo {
  text-shadow: 1px 1px 5px #898989;
}

.napsP {
  opacity: 1;
  flex: 1.15;
  text-align: center;
}

.napsP p {
  font-size: 16px;
  animation: loadAnimation 1s ease forwards 0.6s;
  animation-delay: 0.4s;
  text-align: center;

  position: relative;
  color: #000;
  padding: 0 0 20px;
}

.btn {
  color: var(--red-color);
  padding: 3px 35px;
  border: white;
  background: transparent;
  font-size: 2rem;
  cursor: pointer;
  transition: 0.3s;

  animation: loadAnimation 1s ease forwards 0.8s;
  transition: 1s;
  letter-spacing: 2px;

  opacity: 1;
}
.btnn1,
.btnn2 {
  flex: 1;
}
.btns-container {
  display: flex;
  justify-content: space-around;
  width: 100%;

  animation: loadAnimation 1s ease forwards 0.8s;

  opacity: 0;
  text-align: center;
}

a .btn {
  opacity: 1;
}

.btn::after {
  content: "";
  height: 2px;
  width: 0%;
  background: var(--red-color);
  position: absolute;
  left: 21px;
  bottom: -5px;
  transition: 0.5s;
  opacity: 1;
}
.btn:hover::after {
  width: 75%;
  opacity: 1;
}
.btn:active::after {
  content: "";
  height: 3px;
  width: 100%;
  background: var(--red-color);
  position: absolute;
  left: -5px;
  opacity: 1;
}

@keyframes loadAnimation {
  0% {
    opacity: 0;
    transform: translateY(-10rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes loadAnimation_imgWrapper {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

/* Section 2 */

.section2ID {
  position: relative;
  width: 100%;
  padding-bottom: 185px;
  background-color: var(--text-color);
}
.section2Header {
  text-align: center;
  padding-bottom: 10px;
}
#hct {
  margin: auto;
  font-size: 16px;
  color: var(--background-color);
  font-weight: 400;
  position: relative;
  z-index: 5;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.section2Header h3 {
  margin: auto;
  font-size: 16px;
  color: var(--background-color);
  font-weight: 400;
  position: relative;
  z-index: 5;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.section2Header h2 {
  font-size: 44px;
  color: var(--red-color);
}
.containerS2 {
  display: flex;
  justify-content: space-between;
  padding-inline: 25px;
}
.text-right {
  display: flex;
  text-align: justify;
  align-items: center;
  width: 405px;
  line-height: 30px;
  font-size: 1.7rem;
  color: black;
  padding-inline: 80px;
}
.text-left {
  display: flex;
  text-align: justify;
  width: 405px;
  line-height: 32px;
  font-size: 1.7rem;
  padding-top: 42px;
  padding-inline: 80px;
  font-size: 1.6rem;
  align-items: center;
  color: black;
}
.center-image img {
  text-align: center;
  width: 400px;
  transition: 0.8s;
}
.center-image img:hover {
  border: 1.5px solid var(--red-color);
  opacity: 1;
  transform: translateY(-20px);
  border-radius: 5px;
}
.enhancespn {
  font-size: max(38px, 4.25vw);
  color: var(--red-color);
  font-weight: 650;
  writing-mode: vertical-lr;
  transform: none;
}
.restorespn {
  font-size: max(38px, 4.25vw);
  color: var(--red-color);
  font-weight: 650;
  writing-mode: vertical-rl;
  transform: none;
}
.downpara {
  margin: auto;
  padding-top: 30px;
  font-size: 14px;
  letter-spacing: 0.5px;
  text-align: center;
  opacity: 0.9;
}

.hidethem {
  opacity: 0.1 !important;
  transform: translateX(-5%) !important;
  /*transform: translateX(-100%);*/
  transition: all ease-in-out 0.5s !important;
  filter: blur(2px) !important;
}
.single-service .hidethem {
  opacity: 0.1 !important;
  transform: translateX(-5%) !important;
  /*transform: translateX(-100%);*/
  transition: all ease-in-out 0.5s !important;
  filter: blur(2px) !important;
}

.show {
  opacity: 1 !important;
  filter: blur(0px) !important;
  transform: translateX(0) !important;
}
.jojos {
  display: flex;
  justify-content: center;
  align-items: center;
}
.gonn:nth-child(2) {
  transition-delay: 100ms;
}
.gonn:nth-child(3) {
  transition-delay: 300ms;
}
.gonn:nth-child(4) {
  transition-delay: 500ms;
}
.gonn:nth-child(5) {
  transition-delay: 800ms;
}
.gonn:nth-child(6) {
  transition-delay: 850ms;
}
.gonn:nth-child(7) {
  transition-delay: 900ms;
}
.gonn:nth-child(8) {
  transition-delay: 1000ms;
}
.gonn:nth-child(9) {
  transition-delay: 980ms;
}
.hoho:nth-child(2) {
  transition-delay: 900ms;
}
.hoho:nth-child(3) {
  transition-delay: 1200ms;
}
.hoho:nth-child(4) {
  transition-delay: 1500ms;
}

/* section 3 */

.section3ID {
  box-shadow: inset 0px 7px 20px 0px #00000026;
}
.section3Header {
  text-align: center;
  padding-bottom: 5px;
}
.section3Header h3 {
  margin: auto;
  font-size: 16px;
  color: var(--background-color);
  font-weight: 400;
  position: relative;
  z-index: 5;
  display: inline-block;
  text-transform: uppercase;
  padding-top: 50px;
  letter-spacing: 2px;
}

.lineBox {
  display: flex;
  margin: 0 auto;
  /* padding-top: 17px; */
  /* padding-right: 2px; */
  width: 100%;
  padding: 57px 0px 85px;
  cursor: pointer;
  justify-content: space-around;
  align-items: center;
  height: 50%;
}
.lineBox i {
  font-size: min(50px, 6vw);
  color: var(--red-color);
  /* right: 50%; */
  align-items: center;
  display: ruby-text;
}
.lineBox span {
  font-size: 14.5px;
  font-weight: 600;
  color: white;
}
.left-heading,
.middle-heading,
.right-heading {
  width: 100%;
  text-align: center;
}
/*
.left-line,
.right-line {
  height: 150px;
  width: 10px;
  background-color: var(--text-color);
  border-radius: 100%;
  margin-right: 20px;
}

.left-line {
  margin-right: 20px;
  height: 150px;
  width: 10px;
  background-color: var(--text-color);
  border-radius: 100%;
}*/

/*.icon1class {
  font-size: 24px;
  margin-right: 10px;
}
.icon2class {
  font-size: 24px;
  margin-right: 10px;
}
.icon3class {
  font-size: 24px;
  margin-right: 10px;
}
.LineBox p {
  line-height: 22px;
    font-size: 12px;
  color: black;
  display: flex;
 align-content: flex-end;
 
}*/

/* Section 4 */

.section4ID {
  position: relative;
  width: 100%;
  padding-block: 70px;
  background-color: var(--text-color);
}
.section4Header {
  text-align: center;
  padding-bottom: 64px;
}
.section4Header h3 {
  margin: auto;
  font-size: 16px;
  color: var(--background-color);
  font-weight: 400;
  position: relative;
  z-index: 5;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.section4Header h2 {
  font-size: 44px;
  color: var(--red-color);
}
hr {
  height: 2px;
  bottom: 0;
  margin: 15px auto;
  width: 15%;
  color: var(--red-color);
}
.single-row {
  flex-basis: 47%;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 28px;
  color: white;
  position: relative;
  transition: transform 0.4s ease;
}
.over-row {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  border-radius: 5px;
  cursor: pointer;
  background: white;
  opacity: 0;
  transition: 0.5s;
}
.single-row:hover .over-row {
  opacity: 1;
}
.row-desc {
  width: 80%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: 0.5s;
  color: var(--red-color);
}
.single-row:hover .row-desc {
  bottom: 31%;
  opacity: 1;
}

.service-box {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
}
.single-service {
  flex-basis: 47%;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 28px;
  color: white;
  position: relative;
  transition: transform 0.4s ease;
  transform: translateY(-15px);
}
.single-service img {
  width: 100%;
  border-radius: 2px;
  box-shadow: 0 13px 15px -2px rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.4s ease;
}
.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  border-radius: 3px;
  cursor: pointer;
  background: white;
  opacity: 0;
  transition: 0.5s;
}
.single-service:hover .overlay {
  opacity: 1;
}
.single-service:hover {
  border: 1.5px solid var(--red-color);
  opacity: 1;
  transform: translateY(-9px);
  color: var(--background-color);
}
.single-service:hover img {
  box-shadow: 0 13px 15px -2px rgba(0, 0, 0, 0.5);
}
.service-desc {
  width: 80%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: 0.5s;
  color: var(--red-color);
}
.service-desc span {
  font-size: 14.5px;
  font-weight: 600;
}

.service-desc p {
  font-size: 11px;
  color: black;
}
.single-service:hover .service-desc {
  bottom: 31%;
  opacity: 1;
}

.arigato {
  margin-top: -340px;
}

@media screen and (max-width: 770px) {
  .single-service {
    flex-basis: 100%;
    margin-bottom: 30px;
  }
  .service-desc p {
    font-size: 12px;
  }
  hr {
    margin: 5px auto;
  }
  .single-service:hover .service-desc {
    bottom: 25% !important;
  }
  .btnn1 {
    display: none !important;
  }
  .btns-container {
    flex-direction: column;
    gap: 16px;
  }
  .text-anim-header {
    padding-top: 200px !important;
  }
  header {
    padding: 2.2rem 2rem;
  }
  #header.sticky {
    padding: 1rem 2rem;
  }
}

/* Section 5 */

.section5ID {
  width: 100%;
  padding: 70px 0;

  padding-top: 90px;
  position: absolute;
  height: 95vh;
  background-color: #e8f6f955;
}
.section5Header {
  text-align: center;
}
.section5Header h3 {
  margin: auto;
  font-size: 16px;
  color: var(--background-color);
  font-weight: 400;
  position: relative;
  z-index: 5;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.section5Header h2 {
  font-size: 44px;
  color: var(--red-color);
}
.text-box6 a {
  color: white;
}
.text-box6 p.apa {
  font-size: 16px;
  padding-bottom: 81px;
  margin-inline: 69px;
  text-align: center;
  text-shadow: 1px 1px 3px #0000005e;
}
.text-box6 .btn6 {
  color: var(--text-color);
  padding: 1rem 10vw;
  border: 0.2rem solid var(--text-color);
  background: transparent;
  font-size: 2.1rem;
  cursor: pointer;
  border-radius: 0.3rem;
  transition: 0.6s;

  letter-spacing: 6px;
  text-align: center;
  text-wrap: nowrap;
}
.text-box6 .btn6:hover {
  background-color: #e8f6f9;
  /*box-shadow: 0 0 1.5rem var(--red-color);*/
  color: var(--background-color);
  border-color: var(--red-color);
  box-shadow: inset 500px 0 0 0 #925666;
  transition: 0.3s;
}
.text-box6 {
  color: var(--text-color);
  width: 100%;
  position: absolute;
  bottom: 50%;
  transform: translateY(80%);
}

.sidenav {
  position: absolute;
  height: 90vh;
  /* top: 0.5rem; */
  right: 0.5rem;
  z-index: 1;
  opacity: 1;
  animation: loadSidenav 0.75s cubic-bezier(0.65, 0.05, 0.36, 1) 1.75s forwards;
  bottom: -1px;
}
.sidenav ul {
  list-style: none;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-block: 8rem;
}
.sidenav ul li {
  transform: rotate(90deg);
  will-change: transform;
  font-weight: 600;
  font-size: 14px;
  transition: 0.5s ease;
  letter-spacing: 2px;
}
.sidenav ul li:hover {
  color: var(--red-color);
  opacity: 1;
  cursor: default;
}
.sidenav ul li {
  color: white;
  text-decoration: none;
  opacity: 1;
  transition: 0.5s ease;
}
.sidenav ul span {
  transform: rotate(90deg);
  will-change: transform;
  font-weight: bold;
  font-size: 1.25rem;
  color: var(--red-color);
}
.sidenav-left {
  position: absolute;
  height: 90vh;
  bottom: -1px;
  left: 3rem;
  z-index: 1;
  opacity: 1;
  animation: loadSidenavLeft 0.75s cubic-bezier(0.65, 0.05, 0.36, 1) 1.75s
    forwards;
}
.sidenav-left ul {
  list-style: none;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-block: 10rem;
}
.sidenav-left ul li {
  transform: rotate(-90deg);
  will-change: transform;
  font-weight: bold;
  font-size: 0.9rem;
  transition: opacity 0.25s ease, transform 0.25s ease;
}
.sidenav-left ul .slash {
  transform: rotate(-90deg);
  will-change: transform;
  font-weight: bold;
  font-size: 1.25rem;
  color: var(--red-color);
}
.side-icons {
  font-size: 23px;
  color: white;
  transition: 0.5s;
}
.side-icons:hover {
  color: var(--red-color);
  font-size: 23px;
  transform: rotate(90deg);
}

.footer-row {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: wrap;
}
.footer-left,
.footer-right {
  flex-basis: 45%;
  padding: 5px;
  margin-bottom: 20px;
  margin-left: -5%;
  margin-right: -5%;
}
.footer-right {
  text-align: right;
}
.footer-row span {
  margin: 10px 0;
  font-size: 14.5px;
  font-weight: 500;
  color: white;
}

.footer-row p {
  line-height: 35px;
}
.footer-left .fa,
.footer-right .fa {
  font-size: 13px;
  color: white;
  margin: 10px;
}

@media screen and (max-width: 770px) {
  .footer-left,
  .footer-right {
    flex-basis: 100%;
    font-size: 14px;
  }
}

/* Background Gradient CSS */

:root {
  --color-bg1: #cdafb7;
  --color-bg2: #bf567d;
  --color1: 205, 197, 189;
  --color2: 255, 167, 74;
  --color3: 255, 234, 100;
  --color4: 200, 115, 50;
  --color5: 180, 180, 50;
  --color-interactive: 140, 100, 255;
  --circle-size: 80%;
  --blending: hard-light;
}

@keyframes moveInCircle {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes moveVertical {
  0% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(-50%);
  }
}

@keyframes moveHorizontal {
  0% {
    transform: translateX(-50%) translateY(-10%);
  }
  50% {
    transform: translateX(50%) translateY(10%);
  }
  100% {
    transform: translateX(-50%) translateY(-10%);
  }
}
.gradient-bg::before {
  content: "";
  background-color: #0000001c;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.gradient-bg {
  width: 100vw;
  height: 100vh;
  position: fixed;
  overflow: hidden;
  background: linear-gradient(40deg, var(--color-bg1), var(--color-bg2));
  top: 0;
  left: 0;
  z-index: -100;

  svg {
    display: none;
  }

  .gradients-container {
    filter: url(#goo) blur(40px);
    width: 100%;
    height: 100%;
  }

  .g1 {
    position: absolute;
    background: radial-gradient(
        circle at center,
        rgba(var(--color1), 0.8) 0,
        rgba(var(--color1), 0) 50%
      )
      no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);

    transform-origin: center center;
    animation: moveVertical 30s ease infinite;

    opacity: 1;
  }

  .g2 {
    position: absolute;
    background: radial-gradient(
        circle at center,
        rgba(var(--color2), 0.8) 0,
        rgba(var(--color2), 0) 50%
      )
      no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);

    transform-origin: calc(50% - 400px);
    animation: moveInCircle 20s reverse infinite;

    opacity: 1;
  }

  .g3 {
    position: absolute;
    background: radial-gradient(
        circle at center,
        rgba(var(--color3), 0.8) 0,
        rgba(var(--color3), 0) 50%
      )
      no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2 + 200px);
    left: calc(50% - var(--circle-size) / 2 - 500px);

    transform-origin: calc(50% + 400px);
    animation: moveInCircle 40s linear infinite;

    opacity: 1;
  }

  .g4 {
    position: absolute;
    background: radial-gradient(
        circle at center,
        rgba(var(--color4), 0.8) 0,
        rgba(var(--color4), 0) 50%
      )
      no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);

    transform-origin: calc(50% - 200px);
    animation: moveHorizontal 40s ease infinite;

    opacity: 0.7;
  }

  .g5 {
    position: absolute;
    background: radial-gradient(
        circle at center,
        rgba(var(--color5), 0.8) 0,
        rgba(var(--color5), 0) 50%
      )
      no-repeat;
    mix-blend-mode: var(--blending);

    width: calc(var(--circle-size) * 2);
    height: calc(var(--circle-size) * 2);
    top: calc(50% - var(--circle-size));
    left: calc(50% - var(--circle-size));

    transform-origin: calc(50% - 800px) calc(50% + 200px);
    animation: moveInCircle 20s ease infinite;

    opacity: 1;
  }

  .interactive {
    position: absolute;
    background: radial-gradient(
        circle at center,
        rgba(var(--color-interactive), 0.8) 0,
        rgba(var(--color-interactive), 0) 50%
      )
      no-repeat;
    mix-blend-mode: var(--blending);

    width: 100%;
    height: 100%;
    top: -50%;
    left: -50%;

    opacity: 0.7;
  }
}

.scroll-downs {
  position: absolute;
  right: 0;
  bottom: 55px;
  left: 0;
  margin: auto;
  /* z-index: 1000;*/
  width: 34px;
  height: 55px;
  cursor: default;
}
.mousey {
  width: 3px;
  padding: 2px 10px;
  height: 35px;
  border: 2px solid var(--red-color);
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
  animation: trackBallSlide 15s ease infinite;
  cursor: default;
}
.scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: var(--red-color);
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
  animation-iteration-count: infinite;
  cursor: default;
}
footer {
  background-color: #e8f6f955;
  font-size: 12px;
}
@keyframes scroll {
  0% {
    opacity: 0;
  }
  10% {
    transform: translateY(2px);
    opacity: 1;
  }
  100% {
    transform: translateY(15px);
    opacity: 0;
  }
}

@keyframes trackBallSlide {
  0% {
    opacity: 1;
    transform: scale(1) translateY(-20px);
  }
  6% {
    opacity: 1;
    transform: scale(0.9) translateY(5px);
  }
  14% {
    opacity: 0;
    transform: scale(0.4) translateY(40px);
  }
  15%,
  19% {
    opacity: 0;
    transform: scale(0.4) translateY(-20px);
  }
  28%,
  29.99% {
    opacity: 1;
    transform: scale(1) translateY(-20px);
  }
  30% {
    opacity: 1;
    transform: scale(1) translateY(-20px);
  }
  36% {
    opacity: 1;
    transform: scale(0.9) translateY(5px);
  }
  44% {
    opacity: 0;
    transform: scale(0.4) translateY(40px);
  }
  45%,
  49% {
    opacity: 0;
    transform: scale(0.4) translateY(-20px);
  }
  58%,
  59.99% {
    opacity: 1;
    transform: scale(1) translateY(-20px);
  }
  60% {
    opacity: 1;
    transform: scale(1) translateY(-20px);
  }
  66% {
    opacity: 1;
    transform: scale(0.9) translateY(5px);
  }
  74% {
    opacity: 0;
    transform: scale(0.4) translateY(40px);
  }
  75%,
  79% {
    opacity: 0;
    transform: scale(0.4) translateY(-20px);
  }
  88%,
  100% {
    opacity: 1;
    transform: scale(1) translateY(-20px);
  }
}

/* Smooth Scrolling */
/*
.smooth-scroll-wrapper {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100vw; 
}*/

/* CUBEERTO */

/* CODE START */

.text-anim-content {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.text-anim-header {
  position: relative;
  mix-blend-mode: screen;
  padding-top: 115px;
  width: 100vw;
}

.text-anim-header:before {
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -11px;
  background: #fff;
}

.text-anim-header h1 {
  position: relative;
  color: #000;
  font-size: max(9vw, 75px);
  font-weight: 900;
  line-height: 1;
  letter-spacing: -0.02em;
  text-align: center;
  text-transform: uppercase;
}

/* CURVY TEXT */
.curvy-text {
  width: 100vw;
  background-color: white;
}

.curvy-text textPath {
  font-size: 5px;
  font-weight: 500;
  fill: #925666;
}
.text-box.baka {
  position: relative;
}
