@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: "Poppins";
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --text-color: white/*#e8f6f9*/;
  --red-color: #925666;
  background-color: #000000;
}
html {
  font-size: 55.5%;
  scroll-behavior: smooth;
}
body {
  position: relative;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}
.home .imgWrapper {
  width: 45%;
  transform: scale(1);
  animation: loadAnimation 1s ease;
}
.home .img {
  object-position: 0px -14px;
  object-fit: cover;
  height: 101vh;
  width: -webkit-fill-available;
}
.home {
  position: relative;
  overflow: hidden;
  height: 100vh;
  background-color: var(--background-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10rem;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: var(--text-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
  padding: 2.2rem 1rem;
  transition: all ease-in-out 300ms;
  font-size: 2.1rem;
  animation: loadAnimation 1s ease;
  border-color: white;
}
.Header.sticky {
  padding: 4px 0px;
  background: var(--text-color);

  border-bottom: solid transparent 1.9px var(--red-color);
  box-shadow: 0px 5px 5px -5px #00000026;


}
.sticky .nava {
  color: var(--red-color);
  transition: 0.1s;
  margin-left: 7px;
}

.sticky button:active {
  color: var(--red-color);
  transition: 0.1s;
  background-color: white;
}
.sticky button{
  background-color: white;
  color: var(--red-color);
}
.sticky button:hover{
  background-color: var(--red-color);
  color: white;
}
.sticky button.active{
  background-color: var(--red-color);
  color: white;
}
/*header.sticky.ctaWrapper{
  width: 40%;
  display: flex;
  justify-content: space-around;
  padding-inline: 40px;
  color: inherit;
    text-decoration: none;
    display: flex;
    padding-block: 1.25px;
    margin-inline: 5rem;
    font-size: 1.4rem;
    transition: .3s;
    font-weight: 600;
    margin-inline: 1em;
    background-color: var(--red-color);
    color: var(--text-color);
    border: 1.5px solid var(--red-color);
    cursor: pointer;
    text-align: center;
    border-radius: 25px;
    padding: 7.5px 5px;
    width: auto;
    max-width: 450px;
    transition: .1s;
}
.Header.sticky.visitbtn{
  background-color: var(--red-color);
    color: var(--text-color);
    border: 1.5px solid var(--red-color);
    cursor: pointer;
    text-align: center;
    border-radius: 25px;
    padding: 7.5px 5px;
    width: auto;
    max-width: 450px;
    transition: .1s;
}
*/
.visit {
  color: inherit;
  text-decoration: none;
  display: flex;
  padding-block: 1.25px;
  margin-inline: 5rem;
  font-size: 1.4rem;
  transition: 0.3s;
  font-weight: 600;
}
.visit img {
  width: 24px;
}
.visitbtn {
  background-color: var(--red-color);
  color: var(--text-color);
  border: 1.5px solid var(--red-color);
  cursor: pointer;
  text-align: center;
  border-radius: 25px;
  padding: 7.5px 5px;
  width: auto;
  max-width: 450px;
  transition: 0.1s;
  
}
.visitbtn:hover {
  background-color: var(--text-color);
  color: var(--red-color);
 
}
.visitbtn.active {
  background-color: var(--text-color);
  color: var(--red-color);
}
.navWrapper {
  display: flex;
  align-items: center;
}
.nava {
  text-decoration: none;
  color: var(--text-color);
  margin-left: 0.5rem;
  margin-right: 6.5rem;
  font-size: 1.4rem;
  transition: 0.3s;
  font-weight: 600;
  position: relative;
}
.nava::after {
  content: "";
  height: 3px;
  width: 0%;
  background: var(--red-color);
  position: absolute;
  left: 0;
  bottom: -5px;
  transition: 0.5s;
}
.nava:hover::after {
  width: 100%;
}
.nava:active::after {
  content: "";
  height: 3px;
  width: 100%;
  background: var(--red-color);
  position: absolute;
  left: 0;
}
.ctaWrapper {
  width: 40%;
  display: flex;
  justify-content: space-around;
  padding-inline: 40px;
}
header nav a:hover,
header nav:active {
  color: var(--red-color);

  bottom: -1px;
}
.logo {
  margin-right: 35px;
}
.text-box {
  color: var(--text-color);
  width: 45%;
}
.text-box h1 {
  font-size: 7.5rem;
  animation: loadAnimation 1s ease forwards 0.2s;
  color: var(--text-color);
}
.text-box h1:nth-child(2) {
  color: var(--red-color);
  animation-delay: 0.4s;
  font-size: 3.5rem;
  line-height: 1.4;
}
.text-box p {
  margin: 0.5rem 0;
  font-size: 1.6rem;
  animation: loadAnimation 1s ease forwards 0.6s;
  animation-delay: 0.4s;
}
.text-box i {
  color: var(--red-color);
  width: 45%;
  animation: loadAnimation 1s ease forwards 0.2s;
}
.text-box .btn {
  color: var(--red-color);
  padding: 0.8rem 4.5rem;
  border: 0.2rem solid var(--red-color);
  background: transparent;
  font-size: 2rem;
  cursor: pointer;
  border-radius: 0.3rem;
  transition: 0.3s;
  margin-top: 3.5rem;
  animation: loadAnimation 1s ease forwards 0.8s;
  transition: box-shadow circle 1s;
  letter-spacing: 2px;
}
.text-box .btn:hover {
  /*box-shadow: 0 0 1.5rem var(--red-color);*/

  border-color: var(--red-color);
  background-color: #e8f6f9;
  color: var(--background-color);
  border-color: var(--red-color);
  box-shadow: inset 500px 0 0 0 #925666;
  transition: 0.7s;
}
.text-box * {
  opacity: 0;
}
@keyframes loadAnimation {
  0% {
    opacity: 0;
    transform: translateY(-10rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes loadAnimation_imgWrapper {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.oreh-box {
  width: 45%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
  margin-top: 115px;
  margin-right: 47px;
}
.oreh-service {
  flex-basis: 45%;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 22px;
  color: white;
  position: relative;
  transition: transform 0.4s ease;
  width: 100%;
  height: 200px;

  border: 1.5px solid white;
}
/*.oreh-service div{
  width: 100%;
  height: 200px;
  border-radius: 5px;
  background-color: white;
  
}*/
.orehlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  border-radius: 5px;
  cursor: pointer;
  background: transparent;
  opacity: 1;
  transition: 0.5s;
 
 
}
.oreh-service:hover .orehlay{
  opacity: 1;
  background-color: white;
}
.oreh-service:hover{
  border: 1.5px solid white;
  opacity: 1;
  transform: translateY(-15px);
 
 
}
.oreh-desc {
  width: 80%;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
  transition: 0.5s;
  color: white;
  
  
}
.oreh-desc span{
  font-size: 14.5px;
  font-weight: 600;
}


.oreh-service:hover .oreh-desc{
  bottom: 45%;
  opacity: 1;
  color: var(--red-color);
}
.oreh-service i{
    transform: translateY(100%);
    transition: transform 1s ease;
    opacity: 0;
    bottom: 45%;
    opacity: 0;
    color: var(--red-color);
    transition: 0.5s;
    bottom: 20px;
    position: absolute;
    font-size: 19px;
    left: 47%;
}
.oreh-service:hover .orehlay i{
  
   
    opacity: 1;
    color: var(--red-color);
    transition: 0.5s;
    bottom: 55px;
    position: absolute;
    font-size: 19px;
    left: 47%;
    transform: translateY(0)
}


/* Section 2 */

.section2ID {
  position: relative;
  width: 100%;
  padding: 70px 0;
  background-color: var(--text-color);
  height: 185vh;
  /* border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;*/
}
.section2Header {
  text-align: center;
  padding-bottom: 10px;
}
.section2Header p {
  margin: auto;
  font-size: 20px;
  color: var(--background-color);
  font-weight: 400;
  position: relative;
  z-index: 5;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.section2Header h1 {
  font-size: 50px;
  color: var(--red-color);
}
.containerS2 {
  display: flex;
  justify-content: space-between;
}
.text-right {
  text-align: justify;
  width: 405px;
  line-height: 30px;
  font-size: 1.6rem;
  padding-right: 80px;
  padding-top: 215px;
  padding-left: 100px;
 
}
.text-left {
  text-align: justify;
  width: 405px;
  line-height: 32px;
  font-size: 1.6rem;
  padding-right: 78px;
  padding-top: 197px;
  padding-left: 62px;
  font-size: 1.6rem;
 


}
.center-image img {
  text-align: center;
  width: 400px;
  transition: 0.8s;
 
  margin-top: 100px;
}
.center-image img:hover{
  border: 1.5px solid var(--red-color);
  opacity: 1;
  transform: translateY(-20px);
  border-radius: 5px;
}
.enhancespn {
  font-size: 50px;
  color: var(--red-color);
  font-weight: 650;
  writing-mode: vertical-lr;
  transform: none;
  padding-top: 270px;
}
.restorespn {
  font-size: 50px;
  color: var(--red-color);
  font-weight: 650;
  writing-mode: vertical-rl;
  transform: none;
  padding-top: 285px;
}
.downpara {
  position: absolute;
  right: 0;
  bottom: 184px;
  left: 566px;
  margin: auto;
  /* z-index: 1000; */
  font-size: 12px;
  height: 55px;
}

/*.text2text {
  text-align: left;
  margin-right: 11rem;
  margin-left: 9rem;
  margin-top: 3.5rem;
  margin-bottom: 15rem;
  line-height: 3.8rem;
  font-size: 1.6rem;
}*/
.hidethem {
  opacity: 0;
  filter: blur(5px);
  /*transform: translateX(-100%);*/
  transition: all 0.5s;
}
.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}
.jojos {
  display: flex;
  justify-content: center;
}
.gonn:nth-child(2) {
  transition-delay: 100ms;
}
.gonn:nth-child(3) {
  transition-delay: 300ms;
}
.gonn:nth-child(4) {
  transition-delay: 500ms;
}
.gonn:nth-child(5) {
  transition-delay: 800ms;
}
.gonn:nth-child(6) {
  transition-delay: 850ms;
}
.gonn:nth-child(7) {
  transition-delay: 900ms;
}
.gonn:nth-child(8) {
  transition-delay: 1000ms;
}
.gonn:nth-child(9) {
  transition-delay: 980ms;
}
.hoho:nth-child(10) {
  transition-delay: 90ms;
}
.hoho:nth-child(11) {
  transition-delay: 920ms;
}

/* section 3 */

.section3ID {
  height: 54vh;
  box-shadow: inset 0px 7px 20px 0px #00000026;
}
.section3Header {
  text-align: center;
  padding-bottom: 5px;
}
.section3Header p {
  margin: auto;
  font-size: 20px;
  color: var(--background-color);
  font-weight: 400;
  position: relative;
  z-index: 5;
  display: inline-block;
  text-transform: uppercase;
  padding-top: 50px;
  letter-spacing: 2px;
}
.lineBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding-top: 17px;
  padding-right: 2px;
}
.lineBox h1 {
  font-size: 20px;
  color: var(--text-color);
}
.left-heading,
.middle-heading,
.right-heading {
  width: 100%;
  text-align: center;
}

.left-line,
.right-line {
  height: 150px;
  width: 10px;
  background-color: var(--text-color);
  border-radius: 100%;
  margin-right: 20px;
}

.left-line {
  margin-right: 20px;
  height: 150px;
  width: 10px;
  background-color: var(--text-color);
  border-radius: 100%;
}



/*.icon1class {
  font-size: 24px;
  margin-right: 10px;
}
.icon2class {
  font-size: 24px;
  margin-right: 10px;
}
.icon3class {
  font-size: 24px;
  margin-right: 10px;
}
.LineBox p {
  line-height: 22px;
    font-size: 12px;
  color: black;
  display: flex;
 align-content: flex-end;
 
}*/

/* Section 4 */

.section4ID {
  position: relative;
  width: 100%;
  padding: 70px 0;
  background-color: var(--text-color);
  height: 235vh;
  
}
.section4Header {
  text-align: center;
  padding-bottom: 10px;
}
.section4Header p {
  margin: auto;
  font-size: 20px;
  color: var(--background-color);
  font-weight: 400;
  position: relative;
  z-index: 5;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.section4Header h1 {
  font-size: 50px;
  color: var(--red-color);
}
hr{
 
  height: 2px;
  bottom: 0;
  margin: 15px auto;
  width: 15%;
  color: var(--red-color);
}
.single-row {
  flex-basis: 47%;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 28px;
  color: white;
  position: relative;
  transition: transform 0.4s ease;
}
.over-row {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  border-radius: 5px;
  cursor: pointer;
  background: white;
  opacity: 0;
  transition: 0.5s;
 
 
}
.single-row:hover .over-row{
  opacity: 1;

}
.row-desc {
  width: 80%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: 0.5s;
  color: var(--red-color);
  
}
.single-row:hover .row-desc{
  bottom: 31%;
  opacity: 1;
 
}




.service-box {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
  margin-top: 115px;
}
.single-service {
  flex-basis: 47%;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 28px;
  color: white;
  position: relative;
  transition: transform 0.4s ease;

  
}
.single-service img{
  width: 100%;
  border-radius: 5px;
}
.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  border-radius: 5px;
  cursor: pointer;
  background: white;
  opacity: 0;
  transition: 0.5s;

 
 
}
.single-service:hover .overlay{
  opacity: 1;

}
.single-service:hover{
  border: 1.5px solid var(--red-color);
  opacity: 1;
  transform: translateY(-15px);
  color: var(--background-color);
 

}
.service-desc {
  width: 80%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: 0.5s;
  color: var(--red-color);
  
}
.service-desc span{
  font-size: 14.5px;
  font-weight: 600;
}

.service-desc p{
  font-size: 11px;
  color: black;
}
.single-service:hover .service-desc{
  bottom: 31%;
  opacity: 1;
 
}

@media screen and (max-width: 770px){
  .single-service{
    flex-basis: 100%;
    margin-bottom: 30px;
  }
  .service-desc p{
    font-size: 12px;
  }
  hr{
    margin: 5px auto;
  }
  .single-service:hover .service-desc{
    bottom: 25% !important;
  
  }
}








/* Section 5 */

.section5ID {
  width: 100%;
  padding: 70px 0;
 
  padding-top: 90px;
 
  height: 95vh;
  background-color: #e8f6f955;
}
.section5Header {
  text-align: center;
}
.section5Header p {
  margin: auto;
  font-size: 20px;
  color: var(--background-color);
  font-weight: 400;
  position: relative;
  z-index: 5;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.section5Header h1 {
  font-size: 50px;
  color: var(--red-color);
}
.text-box6 .btn6 {
  color: var(--text-color);
  padding: 1rem 17rem;
  border: 0.2rem solid var(--text-color);
  background: transparent;
  font-size: 2.1rem;
  cursor: pointer;
  border-radius: 0.3rem;
  transition: 0.6s;
  margin-top: 16.8rem;

  letter-spacing: 6px;
  text-align: center;
  text-wrap: nowrap;
  /* box-shadow: inset 0 0 0 0 #E78100;*/
}
.text-box6 .btn6:hover {
  background-color: #e8f6f9;
  /*box-shadow: 0 0 1.5rem var(--red-color);*/
  color: var(--background-color);
  border-color: var(--red-color);
  box-shadow: inset 500px 0 0 0 #925666;
  transition: 0.3s;
}
.text-box6 {
  color: var(--text-color);
  width: 100%;
}


.footer-row {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: wrap; 
}
.footer-left,.footer-right {
  flex-basis: 45%;
  padding: 5px;
  margin-bottom: 20px;
  margin-left: -5%;
  margin-right: -5%;
}
.footer-right {
  text-align: right;

}
.footer-row span{
  margin: 10px 0;
  font-size: 14.5px;
  font-weight: 500;
  color: white;
}


.footer-row p{
  line-height: 35px;
}
.footer-left .fa,.footer-right .fa{
  font-size: 13px;
  color: white;
  margin: 10px;
}


@media screen and (max-width: 770px){
  .footer-left,.footer-right {
    flex-basis: 100%;
    font-size: 14px;
  }
}



/* Background Gradient CSS */

:root {
  --color-bg1: #cdafb7;
  --color-bg2: #bf567d;
  --color1: 205, 197, 189;
  --color2: 255, 167, 74;
  --color3: 255, 234, 100;
  --color4: 200, 115, 50;
  --color5: 180, 180, 50;
  --color-interactive: 140, 100, 255;
  --circle-size: 80%;
  --blending: hard-light;
}

@keyframes moveInCircle {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes moveVertical {
  0% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(-50%);
  }
}

@keyframes moveHorizontal {
  0% {
    transform: translateX(-50%) translateY(-10%);
  }
  50% {
    transform: translateX(50%) translateY(10%);
  }
  100% {
    transform: translateX(-50%) translateY(-10%);
  }
}
.gradient-bg::before {
  content: "";
  background-color: #0000001c;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.gradient-bg {
  width: 100vw;
  height: 100vh;
  position: fixed;
  overflow: hidden;
  background: linear-gradient(40deg, var(--color-bg1), var(--color-bg2));
  top: 0;
  left: 0;
  z-index: -100;

  svg {
    display: none;
  }

  .gradients-container {
    filter: url(#goo) blur(40px);
    width: 100%;
    height: 100%;
  }

  .g1 {
    position: absolute;
    background: radial-gradient(
        circle at center,
        rgba(var(--color1), 0.8) 0,
        rgba(var(--color1), 0) 50%
      )
      no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);

    transform-origin: center center;
    animation: moveVertical 30s ease infinite;

    opacity: 1;
  }

  .g2 {
    position: absolute;
    background: radial-gradient(
        circle at center,
        rgba(var(--color2), 0.8) 0,
        rgba(var(--color2), 0) 50%
      )
      no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);

    transform-origin: calc(50% - 400px);
    animation: moveInCircle 20s reverse infinite;

    opacity: 1;
  }

  .g3 {
    position: absolute;
    background: radial-gradient(
        circle at center,
        rgba(var(--color3), 0.8) 0,
        rgba(var(--color3), 0) 50%
      )
      no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2 + 200px);
    left: calc(50% - var(--circle-size) / 2 - 500px);

    transform-origin: calc(50% + 400px);
    animation: moveInCircle 40s linear infinite;

    opacity: 1;
  }

  .g4 {
    position: absolute;
    background: radial-gradient(
        circle at center,
        rgba(var(--color4), 0.8) 0,
        rgba(var(--color4), 0) 50%
      )
      no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);

    transform-origin: calc(50% - 200px);
    animation: moveHorizontal 40s ease infinite;

    opacity: 0.7;
  }

  .g5 {
    position: absolute;
    background: radial-gradient(
        circle at center,
        rgba(var(--color5), 0.8) 0,
        rgba(var(--color5), 0) 50%
      )
      no-repeat;
    mix-blend-mode: var(--blending);

    width: calc(var(--circle-size) * 2);
    height: calc(var(--circle-size) * 2);
    top: calc(50% - var(--circle-size));
    left: calc(50% - var(--circle-size));

    transform-origin: calc(50% - 800px) calc(50% + 200px);
    animation: moveInCircle 20s ease infinite;

    opacity: 1;
  }

  .interactive {
    position: absolute;
    background: radial-gradient(
        circle at center,
        rgba(var(--color-interactive), 0.8) 0,
        rgba(var(--color-interactive), 0) 50%
      )
      no-repeat;
    mix-blend-mode: var(--blending);

    width: 100%;
    height: 100%;
    top: -50%;
    left: -50%;

    opacity: 0.7;
  }
}


.scroll-downs {
  position: absolute;
  right: 0;
  bottom: 55px;
  left: 0;
  margin: auto;
 /* z-index: 1000;*/
  width: 34px;
  height: 55px;
}
.mousey {
  width: 3px;
  padding: 2px 10px;
  height: 35px;
  border: 2px solid var(--red-color);
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
  animation: trackBallSlide 15s ease infinite;
}
.scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: var(--red-color);
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
  animation-iteration-count: infinite;
}
@keyframes scroll {
  0% {
    opacity: 0;
  }
  10% {
    transform: translateY(2px);
    opacity: 1;
  }
  100% {
    transform: translateY(15px);
    opacity: 0;
  }
}

@keyframes trackBallSlide {
  0% {
    opacity: 1;
    transform: scale(1) translateY(-20px);
  }
  6% {
    opacity: 1;
    transform: scale(0.9) translateY(5px);
  }
  14% {
    opacity: 0;
    transform: scale(0.4) translateY(40px);
  }
  15%,
  19% {
    opacity: 0;
    transform: scale(0.4) translateY(-20px);
  }
  28%,
  29.99% {
    opacity: 1;
    transform: scale(1) translateY(-20px);
  }
  30% {
    opacity: 1;
    transform: scale(1) translateY(-20px);
  }
  36% {
    opacity: 1;
    transform: scale(0.9) translateY(5px);
  }
  44% {
    opacity: 0;
    transform: scale(0.4) translateY(40px);
  }
  45%,
  49% {
    opacity: 0;
    transform: scale(0.4) translateY(-20px);
  }
  58%,
  59.99% {
    opacity: 1;
    transform: scale(1) translateY(-20px);
  }
  60% {
    opacity: 1;
    transform: scale(1) translateY(-20px);
  }
  66% {
    opacity: 1;
    transform: scale(0.9) translateY(5px);
  }
  74% {
    opacity: 0;
    transform: scale(0.4) translateY(40px);
  }
  75%,
  79% {
    opacity: 0;
    transform: scale(0.4) translateY(-20px);
  }
  88%,
  100% {
    opacity: 1;
    transform: scale(1) translateY(-20px);
  }
}

/* Smooth Scrolling */
/*
.smooth-scroll-wrapper {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100vw; 
}*/
